# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TODO: check what we need here:
node_modules/
.idea/
.vscode/
assets/*/dist/
!assets/css/dist/.gitkeep
!assets/js/dist/.gitkeep

