@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-primary {
    @apply bg-blue-500 text-white;
}

.btn-primary:hover {
    @apply bg-blue-700;
}
