@tailwind base;
@tailwind components;
@tailwind utilities;

.loadingIcon * {
    @apply cursor-wait;
}

.btn {
    @apply py-2 px-4 rounded;
}

.btn-sm {
    @apply px-2 rounded;
}

.btn-primary {
    @apply bg-blue-500 text-white;
}

.btn-primary:hover {
    @apply bg-blue-700;
}

.btn-light {
    @apply bg-gray-300;
}

.btn-light:hover {
    @apply bg-gray-400;
}

.btn-danger {
    @apply bg-red-500 text-white;
}

.btn-danger:hover {
    @apply bg-red-700;
}

.btn:disabled {
    @apply bg-gray-400;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

label {
    @apply mb-2 text-sm font-medium text-gray-900;
}

input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5;
}

input[type='checkbox'],
input[type='radio'] {
    @apply min-w-[25px] min-h-[25px] align-middle;
}

.help-text {
    @apply mt-2 text-sm text-gray-500 dark:text-gray-400;
}

.error-text {
    @apply bg-red-100 border-l-4 border-red-500 text-red-700 p-4 animate-flash;
}

.warning-text {
    @apply bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 animate-flash;
}

.dropdown {
    @apply border text-sm rounded-lg p-2.5;
}
.dropdown-white {
    @apply bg-white border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500;
}

#cut-tool-root span {
    font-family: sans-serif;
    font-stretch: condensed;
}

/* Remove default bullets */
#cut-tool-root ul {
    @apply list-none;
}

/* Remove margins and padding from the parent ul */
.unpadded {
    @apply m-0 p-0;
}

/* Style the caret/arrow */
.caret {
    @apply cursor-pointer select-none row-start-1 col-start-1 before:content-['\203a'] before:text-[black] before:inline-block before:mr-1.5 before:relative;
}
.cutview-node {
    @apply select-none text-ellipsis whitespace-nowrap overflow-hidden;
}
.imageview-node {
    @apply row-start-1 col-start-3 select-none text-ellipsis whitespace-nowrap overflow-hidden;
}

/* Create the caret/arrow with a unicode, and style it */

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    @apply content-['\203a'] text-[gray] rotate-90;
}

.type-symbol {
    @apply w-[18px];
}

.type-symbol.custom {
    @apply w-0;
}

.type-symbol.module::before {
    @apply content-['\25A0'] text-[darkgreen] text-[small] relative mr-[5px] -top-px;
}

.type-symbol.package::before {
    @apply content-['\1F4C1'] text-[darkblue] text-[smaller] mr-[5px];
}

.type-symbol.class::before {
    @apply content-['\1F152'] text-[darkblue] text-[smaller] relative mr-[5px] -top-px;
}

.type-symbol.method::before {
    @apply content-['\1F17C'] text-[darkred] text-[smaller] relative mr-[5px] -top-px;
}

.type-symbol.cg-only::before {
    @apply content-['\2022'] text-[darkblue] text-[smaller] mx-[5px];
}

/* Hide the nested list */
.nested {
    @apply hidden row-start-3 col-start-1 col-end-6 pl-4;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    @apply block;
}
.total-size-column {
    @apply float-right row-start-1 col-start-4 text-right text-[#606060] w-[60px];
    font-size: smaller;
}
.cut-size-column {
    @apply float-right text-[#cf8020] row-start-1 col-start-4 text-right w-[60px];
    font-size: smaller;
}
.size-bar-outer {
    @apply float-right h-[17px] row-start-1 col-start-3 bg-[#a0a0a080] max-h-[17px];
}
.size-bar-inner-0 {
    @apply float-right h-full w-0 bg-[#ffffff80] -ml-px;

    /* Weird hack to prevent wrap */
}
.size-bar-inner-1 {
    @apply float-left h-full w-0 bg-[#e07070];
}
.size-bar-inner-2 {
    @apply float-left h-full w-0 bg-[#e0b040] -mr-px;

    /* Weird hack to prevent wrap */
}
.purge-percentage-bar-outer {
    @apply border w-[60px] row-start-1 col-start-5 grid grid-cols-[100%] grid-rows-[100%] mx-1 my-px border-solid border-[#f0f0f0];
}
.purge-percentage-bar-inner {
    @apply h-full w-0 row-start-1 col-start-1 bg-[#ff000020];
}
.purge-percentage-bar-text {
    @apply w-full h-full row-start-1 col-start-1 text-[darkblue] text-center -mt-px text-[small] -mb-0.5;
}
.fullscreen {
    @apply w-full h-full;
}
.hovered-for-purge {
    @apply border bg-[#cf900010] -m-px border-solid border-[#cf900080];
}
.selected-for-purge {
    @apply border bg-[#ff000040] -m-px border-solid border-[#df0000];
}
.selected-for-detail {
    @apply border bg-[#00ff0020] -m-px border-solid border-[#80ff80];
}
.selectable {
    @apply cursor-crosshair;
}
.cut-row {
    @apply grid grid-cols-[max-content_max-content_1fr_max-content] grid-rows-[18px];
}
.image-row {
    @apply grid grid-cols-[max-content_max-content_1fr_max-content] grid-rows-[18px];
}
.cut-size-bar {
    @apply bg-[#cf9000] h-0.5 w-0 row-start-2 col-start-3 col-end-4 -mt-0.5;
}
.center {
    @apply self-center flex justify-center items-center h-full;
}
.cg-only {
    @apply text-[darkblue];
}
.synthetic {
    @apply text-[#808080];
}
.purged-baseline::after {
    @apply content-['_?'] text-[grey];
}
.purged-with-selection {
    @apply line-through text-[#603030];
}
.purged-with-hover {
    @apply line-through text-[#705520];
}
.imageview-name {
    @apply text-[black];
}
.affected-by-hover::after {
    @apply content-['*'] text-[#705520];
}

/* For detail view: */
.support-edge {
    @apply stroke-[#a0a0a0];
    stroke-dasharray: 0 2 0;
}
.direct-edge {
    @apply stroke-[#808080];
}

.detail-node {
    @apply stroke-[black];
}

.detail-node-target {
    @apply stroke-[black] stroke-[3px];
}

.detail-text-left {
    @apply text-xl;
    text-anchor: start;
}

.detail-text-middle {
    @apply text-[5px];
    text-anchor: middle;
}

.detail-text-right {
    @apply text-xl;
    text-anchor: end;
}

.highlight-excluded {
    @apply opacity-20;
}

a {
    @apply font-medium text-blue-600;
}

a:hover {
    @apply underline;
}
