// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Override defaults
//

// Toggle global options
$enable-gradients: false;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.4rem;
$success: #7952b3;

//
// Includes
//

@import 'bootstrap/scss/bootstrap';

@import 'zoomable_causality_graph';
@import 'hierarchy_bubbles';
@import 'fileInput';

//
// Custom styles
//

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    //padding-top: 56px; // to fit the top bar component
}

svg {
    width: 100%;
    height: 100%;
}

#home-viz-list ul {
    list-style: none
}

#home-viz-list li {
    padding: 0 0 2px 0
}