.zcg-svg-container {
    height: 100%;
    width: 100%;
}

.zcg-control-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 5px 5px 5px;
    background-color: white;
}

.zcg-loader {
    border: 1px solid black;
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
