.svg-container {
    height: 100%;
    width: 100%;
}

.control-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 5px 5px 5px;
    background-color: white;
}
