/* Remove default bullets */
ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.unpadded {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    grid-row-start: 1;
    grid-column-start: 1;
}

.node-text {
    cursor: crosshair;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-row-start: 1;
    grid-column-start: 2;
    overflow: hidden;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 20px;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

html {
    height: 100%
}

body {
    height: 98%;
}

.total-size-column {
    float: right;
    width: 100px;
    margin-left: 25px;
    color: #606060
}

.cut-size-column {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    color: #B02020;
    grid-row-start: 1;
    grid-column-start: 3;
}

.size-bar-outer {
    text-align: center;
    float: right;
    width: 100px;
    margin-left: 25px;
    border: 1px solid gray;
    height: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px;
}
.size-bar-outer > * {
    grid-row-start: 1;
    grid-column-start: 1;
}

.size-bar-inner {
    height: 100%;
    width: 0;
    background-color: #FF000060;
}

.size-bar-text {
    color: #8080FF;
}

.top-panel {
    float: top;
    width: 100%;
    height: 4%;
}

.main-panel {
    height: 96%;
}

.overview-div {
    float: left;
    width: 43%;
    height: 100%;
    margin-right: 1%;
    overflow-y: scroll;
    resize: horizontal;
}

.imageview-div {
    float: left;
    width: 55%;
    height: 100%;
    margin-right: 1%;
    overflow-y: scroll;
    resize: horizontal;
}

.detail-div {
    float: left;
    width: 0%;
    height: 100%;
    visibility: hidden;
}

.selected-for-purge {
    border: 1px solid #8080FF;
    background-color: #0000FF20;
}

.row {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 18px;
}